@CHARSET "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/*** Table Styles **/

#special .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  max-width: 400px;
  /* Firefox */
  max-width: -moz-calc(100% - 400px);
  /* WebKit */
  max-width: -webkit-calc(100% - 400px);
  /* Opera */
  max-width: -o-calc(100% - 400px);
  /* Standard */
  max-width: calc(100% - 400px);
}
 
#special th {
  color:white;
  background:#5cb85c;
  border-bottom:4px solid #9ea7af;
  border-right: 3px solid #4cae4c;
  font-size:12px;
  font-weight: 100;
  padding:15px;
  text-align:middle;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  white-space: nowrap;
}

#special th:first-child {
  border-top-left-radius:3px;
}
 
#special th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
#special tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:13px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
#special tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
#special tr:first-child {
  border-top:none;
}

#special tr:last-child {
  border-bottom:none;
}
 
#special tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
#special tr:nth-child(odd):hover td {
  background:#4E5066;
}

#special tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
#special tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
#special td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

#special td:last-child {
  border-right: 0px;
}

#special th.text-left {
  text-align: left;
}

#special th.text-center {

}

#special th.text-right {
  text-align: right;
}

#special td.text-left {
  text-align: left;
}

#special td.text-center {
  text-align: center;
}

#special td.text-right {
  text-align: right;
}

#popup th {
	 border: 1px solid black;
}

#popup td {
	 border: 1px solid black;
}

#popup tr {
	border: 1px solid black;
}

#popup table {
	overflow: scroll;
	width: 100%;
}